body {
   background-color: #AD7BE9;
    font-family: 'Lato', sans-serif;
}

.planet{
    height: 100px;
    width: 100px;
}
h1{
    font-size: 50px;
}

.bio{
    padding: 100px 0px 300px 100px ;
}

.bio h1,p{
  width:100%;
  overflow:hidden;
}
.bio h1,p{
  animation: 2s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -50%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}





