/* Main */

body {
    font-family: 'Lato', sans-serif;
    color: #EEEEEE;
}

.planet {
    height: 80px;
    width: 80px;
    padding-left: 20px;
    padding-top: 20px;
}

h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

.desc {
    font-size: 20px;
}

.bio {
    padding: 80px 0px 200px 100px;
}

.bio h1,
p {
    width: 100%;
    overflow: hidden;
}

.bio {
    animation: 2s slide-right;
}

@keyframes slide-right {
    from {
        margin-left: -50%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* Skills */

h2 {
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
}

.skills {
    text-align: center;
}

.skill {
    padding: 20px 15px 20px 15px;

}

#js {
    width: 55px;
    height: 55px;
}

.skills-desc {
    font-size: 20px;
    line-height: 30px;
}

/* Projects */

.projects {
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}


.card {
    background-color: #121626;
    height: 350px;
    width: 200px;
    border-style: solid;
    border-width: .5px;
    border-color: #3C4048;
    border-radius: 8px;
    margin-left: 25px;
    margin-right: 25px;
    flex: 1;
    transition: 1.5s all ease;
    -webkit-box-shadow: 8px 8px 24px 0px #474E68;
    -moz-box-shadow: 8px 8px 24px 0px #474E68;
    box-shadow: 8px 8px 24px 0px #474E68;
    padding-left: 20px;
    padding-right: 20px;


}

.card:hover {
    scale: 1.1;

}

.more {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.check {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #6d40a3;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-width: .5px;
    border-color: #3C4048;
    -webkit-box-shadow: 8px 8px 24px 0px #5b6071;
    -moz-box-shadow: 8px 8px 24px 0px #5b6071;
    box-shadow: 8px 8px 24px 0px #5b6071;
    transition: 1s;
}

.check:hover {
    background-color: #5e3490;
}

.check-project {
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #474E68;
    border-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #121626;
}

.img-project {
    width: 310px;
    height: 160px;
    border-radius: 8px;
}


.img-personal {
    margin-top: 15px;
}


/* Hobbies */

.hobbies {
    text-align: center;
    padding-top: 50px;
    position: relative;


}

.spark-logo {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 200px;
    position: absolute;
    left: 100px;
    top: 170px;


}

.skincare-icon {
    width: 70px;
    height: 70px;
    float: right;
    position: absolute;
    right: 420px;
    top: 250px;

}

.skincare-desc {
    margin-top: 50px;
}

.cooking-icon {
    width: 70px;
    height: 70px;
    float: left;
    position: absolute;
    left: 280px;
    top: 310px;
}

.cooking-desc {
    margin-top: 50px;
}

.code-icon {
    width: 70px;
    height: 70px;
    float: right;
    position: absolute;
    right: 380px;
    top: 400px;
}

.code-desc {
    margin-top: 50px;
}

/* Contact */

.contact {
    text-align: center;

}

.footer-link {
    padding-left: 10px;
    padding-right: 10px;
}

.contact-img {
    height: 50px;
    width: 50px;
}

/* Footer */

.last-line {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;

}

.footer {
    text-align: center;
    padding-bottom: 40px;
}

@media only screen and (max-width: 1290px) {
body {
    text-align: center;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.img-project{
    width: 200px;
    height: 100px;
}

.spark-logo{
    top: 170px;
    left: 32px;
}
.skincare-icon{
    top: 340px;
    left: 230px;
}

.cooking-icon{
    top: 450px;
    left: 225px;
}

.code-icon{
    top: 600px;
    left: 230px;
}

.hobby-desc{
    padding-top: 50px;
}
}

    
